
@{
    @*@foreach (var item in ViewBag.Details)
    {
        <span> @item.CompanyId </span>
    }
}*@

<h2>DetailsCollection</h2>

@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
    </div>
</div>*@